<!DOCTYPE html>
<html>
<head>
    <title>addCompany</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body >
<div class="container">

<div style="height: 150px;text-align: center;"><br><br><h3>Add company to the  system</h3>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</div>    
    <form action="{{url_for('add_company')}}" method = "post" enctype="multipart/form-data">
        <div class="row">
               <div class="col">
                     <input type="text" class="form-control" placeholder="Stock Name" name="stockname" id="stockname">
               </div>
               <div class="col">
                    <input type="text" class="form-control" placeholder="Stock place" name="stockplace" id="stockplace">
               </div>
               <div class="col">
                     <input type="text" class="form-control" placeholder="Country" name="country" id="country">
               </div>
               <div class="col">
                    <input type="text" class="form-control" placeholder="CEO" name="ceo" id="CEO">
               </div>

        </div>
        <br>
        <div class="row">
               <div class="col">
                     <input type="text" class="form-control" placeholder="Description" name="info" id="info">
               </div>
               
               
        </div>
        <br>
        <div class="row">
            <div class="col">
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="customFile" name="file">
                <label class="custom-file-label" for="customFile">Upload Model</label>
            </div>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary" >Add Copmany</button>
        </div>
        </div>
    </form>

</div>





<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
